bin
obj
.vs
*.suo
*.user
.azure
appsettings.*.json
*.orig
test-results
[Tt]est[Rr]esults
nuget
.pnpm-store
.DS_Store
.idea

*.binlog
/examples/rust/actix_api/target

target

node_modules
examples/perl/**/local/*
**cpanfile.snapshot
**/.aspire/modules/
**/*.AppHost.TypeScript/nuget.config

**/.k3s/
tsconfig.apphost.json
.ngrok
bun.lock
pnpm-lock.yaml
yarn.lock
solr-data
*.lscache
apphost.js
affected-tests
examples/**/.modules/*
examples/**/.aspire/modules/*
examples/**/.aspire/integrations/*
playground/**/.modules/*
playground/**/.aspire/modules/*
playground/**/.aspire/integrations/*