bin
obj
.vs
*.suo
*.user
.azure
appsettings.*.json
*.orig
test-results
[Tt]est[Rr]esults
nuget
.pnpm-store
.DS_Store
.idea

*.binlog
/examples/rust/actix_api/target

target

node_modules

# Playground
playground/**/dist/
playground/**/.gitignore
playground/**/.modules/
playground/**/aspire.config.json
playground/**/azure.yaml
playground/**/next-steps.md
!playground/polyglot/**/.aspire/
