# Default owner
* @aaronpowell

# CommunityToolkit.Aspire.Hosting.Java
/docs/integrations/hosting-java/* @justinyoo
/examples/java/* @justinyoo
/src/CommunityToolkit.Aspire.Hosting.Java/* @justinyoo
/tests/CommunityToolkit.Aspire.Hosting.Java/* @justinyoo
