# Default owner
* @aaronpowell

# Aspire.CommunityToolkit.Hosting.Java
/examples/java/* @justinyoo
/src/Aspire.CommunityToolkit.Hosting.Java/* @justinyoo
/tests/Aspire.CommunityToolkit.Hosting.Java/* @justinyoo
