@page "/"

@inject TrekApiClient trekClient;


<PageTitle>Home</PageTitle>

<h1>Data API Builder</h1>

@if (series is null)
{
    <p>Loading...</p>
}
else
{
    <h5>Here are some Star Trek series 🖖</h5>
    <ul>
        @foreach (var s in series)
        {
            <li>@s.Name</li>
        }
    </ul>
}

@code {
    private List<Series>? series;

    protected override async Task OnInitializedAsync()
    {
        series = await trekClient.GetSeriesAsync();
    }
}