name: Run Integration Tests

on:
  workflow_call:

jobs:
  test:
    env:
      DOTNET_CONFIGURATION: Release
      DAPR_VERSION: "1.15.0"
      TEST_PROJECT_PATH: tests/CommunityToolkit.Aspire.${{ matrix.name }}/CommunityToolkit.Aspire.${{ matrix.name }}.csproj
      CI: true
      NPM_CONFIG_PACKAGE_LOCK: false
    runs-on: "${{ matrix.os }}"
    timeout-minutes: 60
    name: ${{ matrix.name }}-${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        name: [
            # Hosting integration tests
            Hosting.ActiveMQ.Tests,
            Hosting.Adminer.Tests,
            Hosting.Azure.Dapr.Redis.Tests,
            Hosting.Azure.Dapr.Tests,
            Hosting.Azure.DataApiBuilder.Tests,
            Hosting.Bun.Tests,
            Hosting.Dapr.Tests,
            Hosting.DbGate.Tests,
            Hosting.Deno.Tests,
            Hosting.Elasticsearch.Extensions.Tests,
            Hosting.Flagd.Tests,
            Hosting.Flyway.Tests,
            Hosting.GoFeatureFlag.Tests,
            Hosting.Golang.Tests,
            Hosting.JavaScript.Extensions.Tests,
            Hosting.Java.Tests,
            Hosting.k6.Tests,
            Hosting.Keycloak.Extensions.Tests,
            Hosting.KurrentDB.Tests,
            Hosting.LavinMQ.Tests,
            Hosting.MailPit.Tests,
            Hosting.McpInspector.Tests,
            Hosting.Meilisearch.Tests,
            Hosting.Minio.Tests,
            Hosting.MongoDB.Extensions.Tests,
            Hosting.MySql.Extensions.Tests,
            Hosting.Ngrok.Tests,
            Hosting.Ollama.Tests,
            Hosting.OpenTelemetryCollector.Tests,
            Hosting.PapercutSmtp.Tests,
            Hosting.PostgreSQL.Extensions.Tests,
            Hosting.PowerShell.Tests,
            Hosting.Python.Extensions.Tests,
            Hosting.RavenDB.Tests,
            Hosting.Redis.Extensions.Tests,
            Hosting.Rust.Tests,
            Hosting.Sftp.Tests,
            Hosting.Solr.Tests,
            Hosting.SqlDatabaseProjects.Tests,
            Hosting.Sqlite.Tests,
            Hosting.SqlServer.Extensions.Tests,
            Hosting.Stripe.Tests,
            Hosting.SurrealDb.Tests,

            # Client integration tests
            GoFeatureFlag.Tests,
            KurrentDB.Tests,
            MassTransit.RabbitMQ.Tests,
            Meilisearch.Tests,
            Microsoft.Data.Sqlite.Tests,
            Microsoft.EntityFrameworkCore.Sqlite.Tests,
            Minio.Client.Tests,
            OllamaSharp.Tests,
            RavenDB.Client.Tests,
            Sftp.Tests,
            SurrealDb.Tests,
        ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Runtimes, Caching, and Tools
        uses: ./.github/actions/setup-runtimes-caching
        with:
          name: ${{ matrix.name }}
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}
          docker-registry: ${{ secrets.CUSTOM_CONTAINER_REGISTRY }}

      - name: Verify Docker is running
        run: docker info

      - name: Build test project
        env:
          CI: false
        run: |
          dotnet build ${{ github.workspace }}/${{ env.TEST_PROJECT_PATH }} /bl --configuration ${{ env.DOTNET_CONFIGURATION }}

      - name: Run tests
        run: >-
          dotnet test ${{ github.workspace }}/${{ env.TEST_PROJECT_PATH }}
          --configuration ${{ env.DOTNET_CONFIGURATION }}
          --logger "console;verbosity=normal"
          --logger "trx"
          --logger "GitHubActions;summary.includePassedTests=true;summary.includeSkippedTests=true"
          --blame
          --blame-hang-timeout 7m
          --blame-crash
          --results-directory testresults
          --collect "XPlat Code Coverage"
          --no-restore
          --no-build -- RunConfiguration.CollectSourceInformation=true
        env:
          CUSTOM_CONTAINER_REGISTRY: ${{ secrets.CUSTOM_CONTAINER_REGISTRY }}

      - name: Dump docker info
        if: always()
        run: |
          docker container ls --all
          docker container ls --all --format json
          docker volume ls
          docker network ls

      - name: Upload bin log artifact
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: binlog-${{ matrix.name }}-${{ matrix.os }}
          path: "**/*.binlog"

      - name: Upload test results artifact
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: testresults-${{ matrix.name }}-${{ matrix.os }}
          path: testresults/**

      - name: Upload npm logs if failed
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: npm-logs-${{ matrix.name }}-${{ matrix.os }}
          path: ${{ runner.os == 'Windows' && 'C:\\npm\\cache\\_logs\\**' || '~/.npm/cache/_logs/**' }}
